<form [formGroup]="inputForm" (submit)="onSubmit()">
  <div>
    <span id="headline">Brutto Netto Rechner</span>
    <span (mouseover)="showHelp()" id="HowTo">?</span>
  </div>
  <br>
  <table class="table table-borderless" id="inputTable">
    <tr>
      <td><label for="incomeSelect">Einkommen</label></td>
      <td>
        <select class="form-select" id="incomeSelect" aria-label="incomeSelect" formControlName="yearly">
          <option value="false" selected>monatlich</option>
          <option value="true">jährlich</option>
        </select>
      </td>
      <td>
        <input class="form-control" type="number" min="0" formControlName="income">
      </td>
    </tr>
    <tr>
      <td><label for="children">Kinder</label></td>
      <td><input class="form-control" type="number" min="0" id="children" formControlName="children" value="0"></td>
      <td><input class="form-check-label" type="checkbox" id="loneParent" formControlName="loneParent" (click)="checkLoneParent()"> AVAB/AEAB</td>
    </tr>
    <tr>
      <td><label for="commuteSelect">Pendlerpauschale </label></td>
      <td>
        <select class="form-select" id="commuteSelect" aria-label="commuteSelect" formControlName="largeCommute">
          <option value="false" selected>klein</option>
          <option value="true">groß</option>
        </select>
      </td>
      <td>
        <input class="form-control" type="number" min="0" id="commute" formControlName="commuteDist" value="0">
      </td>
    </tr>
    <tr>
      <td><label for="fabo17">Fabo+ Kinder 17</label></td>
      <td colspan="2"><input class="form-control" type="number" min="0" id="fabo17" formControlName="fabo17" value="0"></td>
    </tr>
    <tr>
      <td><label for="fabo18">Fabo+ Kinder 18</label></td>
      <td colspan="2"><input class="form-control" type="number" min="0" id="fabo18" formControlName="fabo18" value="0"></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3"><button class="btn submit-button" id="submitButton" type="submit">berechnen</button></td>
    <td></td></tr>
  </table>

  <table class="table">
    <thead>
      <tr>
        <td></td>
        <th scope="row">Monatlich</th>
        <th scope="row">13. Bezug</th>
        <th scope="row">14. Bezug</th>
        <th scope="row">Jährlich</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Brutto</th>
        <td>{{result.monthly.brutto | currency : 'EUR'}}</td>
        <td>{{result.thirteenth.brutto | currency : 'EUR'}}</td>
        <td>{{result.fourteenth.brutto | currency : 'EUR'}}</td>
        <td>{{result.yearly.brutto | currency : 'EUR'}}</td>
      </tr>
      <tr>
        <th scope="row">SV</th>
        <td>{{result.monthly.sv | currency : 'EUR'}}</td>
        <td>{{result.thirteenth.sv | currency : 'EUR'}}</td>
        <td>{{result.fourteenth.sv | currency : 'EUR'}}</td>
        <td>{{result.yearly.sv | currency : 'EUR'}}</td>
      </tr>
      <tr>
        <th scope="row">LSt</th>
        <td>{{result.monthly.lst | currency : 'EUR'}}</td>
        <td>{{result.thirteenth.lst | currency : 'EUR'}}</td>
        <td>{{result.fourteenth.lst | currency : 'EUR'}}</td>
        <td>{{result.yearly.lst | currency : 'EUR'}}</td>
      </tr>
      <tr>
        <th scope="row">Netto</th>
        <td>{{result.monthly.netto | currency : 'EUR'}}</td>
        <td>{{result.thirteenth.netto | currency : 'EUR'}}</td>
        <td>{{result.fourteenth.netto | currency : 'EUR'}}</td>
        <td>{{result.yearly.netto | currency : 'EUR'}}</td>
      </tr>
    </tbody>
  </table>
</form>
