@import '~bootstrap/dist/css/bootstrap.min.css';

#headline{font-size: 32px;}
        #HowTo {
            float:right;
            font-size:32px;
            margin-right: 10px;
        }
        label{
            margin-right: 1em;
        }
         
        
       
        .submit-button{
            background-color: #337ab7 !important;
            width: 100%;
            color: white;
            border-color: white;
            border: solid;
        }

        .popup {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
          }